---
import PostCard from '../../../components/PostCard.astro';
import { getCategoriesPost, getAllCategories } from '../../../lib/api';
import Layout from '../../../layouts/BaseLayout.astro';

const today = new Date();

export async function getStaticPaths() {
  const categories = await getAllCategories();
  return categories.map((category: any) => {
    return {
      params: {
        slug: category.slug,
      },
      props: {
        slug: category.slug,
        category: category.name_en,
        category_id: category.pk
      },
    };
  });
}

const AllCategories = await getAllCategories();

const { slug, category, category_id } = Astro.props;
const posts = await getCategoriesPost(slug);

---
<style>
	#link{
	  background-color: #26820a;
	  color: white;
  	}
	#link:hover{
		background-color: #164906;
		transition: all ease-in 0.25s;
	}
	.category__List{
		list-style: none;
		display: block;
		padding-left: 0.175rem;
		padding-right: 0.175rem;
		padding-bottom: 0.75rem;
	}
	.catgeory__Item{
		display: block;
		font-size: 1rem;
		margin-top: 1rem;
		font-weight: bold !important;
		text-decoration: none;
		padding: 0.635rem 0.875rem;
		border-radius: 5px;
	  	background-color: #26820a;
		color: white;
	}
	.catgeory__Item:hover{
		background-color: #154a05;
	  	color: white;
	}
	.active__category{
		background-color: #154a05;
	  	color: white;
	}
	@media only screen and (max-width: 992px) {
		#sideBlock {
			position: fixed;
			top: 0;
			right: -300px; /* Déplace le bloc à droite pour qu'il soit caché initialement */
			width: 250px;
			height: 100%;
			background-color: #f0f0f0;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: 20px;
			transition: right 0.3s ease-in-out; /* Ajoute une transition pour un effet fluide */
		}
		#closeButton{
			position: absolute;
			top: 130px;
			right: 230px;
			background-color: #f0f0f0;
			color: #222;
		}
	}
</style>
<Layout title={category} description={`This page present all the article to ${category} category`}>
	<!-- Post by category Start -->
	<div class="container-fluid py-5">

		<div class="container-fluid">
			<div class="p-2 pt-4 pb-4 m-md-5 d-flex justify-content-center align-items-center bg-secondary">
				<div>
					<h1 class="text-light display-5">
						{category}
					</h1>
				</div>
			</div>
			<div class="d-flex justify-content-end align-items-center d-lg-none mt-5">
				<div>
					<button class="btn bg-secondary text-white font-bold d-flex justify-content-between align-items-center" id="toggleButton">
						<i class="fa fa-arrow-left me-2"></i>
						Categories
					</button>
				</div>
			</div>
			<div class="d-lg-flex justify-content-around">
				<div class="col-lg-8 col-12">
					<div class="mt-4">
						<div class="row justify-content-center m-1 py-5">
							<div class="row justify-content-start col-12">
								{
									posts ? (
										posts.map((post: any) => (
											<PostCard image={post.image} title={post.title_en} href={post.absolute_url} date={post.posted} />
										))
									) : (
										<h1>No Articles</h1>
									)
								}
							</div>

						</div>
					</div>
				</div>
				<div class="col-lg-3 hidden" id="sideBlock">
					<div class="align-items-center justify-content-end d-lg-none d-flex">
						<button type="button" id="closeButton" class="btn" aria-label="Close">
							<i class="fa fa-arrow-right"></i>
						</button>
					</div>
					<div class="m-2 py-5 py-lg-2">
						<h1>Categories</h1>
					</div>
					<ul class="category__List" id="category__Block">
						{
							AllCategories.map((category: any) => (
								<li>
									<a class={`catgeory__Item ${category.slug === slug && 'active__category d-flex justify-content-between'}`} href={`/category/${category.slug}`}>
										{category.name_en}
										{category.slug === slug && <i class="bi bi-activity"></i>}
									</a>
									
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>

	</div>
	<!-- Post by category End -->

</Layout>
