---
import { IMAGE_URL } from '../consts';
import Layout from "../layouts/BaseLayout.astro";
import { getLastPost, getLastCategoryPost,  getLatesPosts, getTopPosts, getPreviousMonthPosts } from '../lib/api';
import LastPostCategory from '@components/LastPostCategory.astro';
import MostRecentPosts from '@components/MostRecentPosts.astro';
import MostPopularPosts from '@components/MostRecentPosts.astro';
import LastMonthPosts from '@components/LastMonthPosts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const LastPost = await getLastPost();
const LastCategoryPost = await getLastCategoryPost();
const LatesPosts = await getLatesPosts(10);
const TopPosts = await getTopPosts();
const PreviousMonthPosts = await getPreviousMonthPosts();
---
<style>
	a{
		text-decoration: none;
	}
</style>
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<!-- Main Post Section Start -->
	<div class="container-fluid py-5">
		<div class="container py-5">
			<div class="row g-4">
				
				<div class="col-lg-7 col-xl-8 mt-0">
					<div class="position-relative overflow-hidden rounded">
						<img src={`${IMAGE_URL}${LastPost.image}`} class="img-fluid rounded img-zoomin w-100" alt={LastPost.title_en} />
						<div class="d-flex bg-dark justify-content-start p-2 position-absolute flex-wrap w-100" style="bottom: 0; left: 0;">
							<a class="text-white me-3 link-hover">
								<i class="fa fa-clock"></i> 
								<span style="margin-left: 3px;">
									{LastPost.reading_time} {LastPost.reading_time > 1 ? ' mins ': ' min ' } read
								</span>
							</a>
						</div>
					</div>
					<div class="border-bottom py-3">
						<a 
						href={`blog${LastPost.absolute_url}`} 
						class="display-6 text-dark mb-0 link-hover">{LastPost.title_en}</a>
					</div>
					
				</div>
					
				<div class="col-lg-5 col-xl-4">
						
					{  
						LastCategoryPost
						&&
						<div class="bg-light rounded p-4 pt-0">
							
							<div class="mb-4 pt-4">
								<h2 class="text-dark fw-bold fs-2">Latest articles by category</h2>
							</div>
							<div class="row g-4">
								{
									LastCategoryPost.map((post: any) => (
										<LastPostCategory image={post.image} title={post.title_en} href={post.absolute_url} category={post.category.name_en}  reading={post.reading_time} />
									))
								}
							</div>
						
						</div>
					}
				</div>
			</div>
		</div>
	</div>
	<!-- Main Post Section End -->


	<!-- Latest News Start -->
	<div class="container-fluid latest-news py-5">
		<div class="container py-5">
			<h2 class="mb-4">Most recents</h2>
			<div class="latest-news-carousel owl-carousel owl-theme">
				{
					LatesPosts.map((post: any) => (
						<MostRecentPosts image={post.image} title={post.title_en} author={post.author.username} href={post.absolute_url} date={post.posted} />
					))
				}
			</div>
		</div>
	</div>

<!-- Latest News End -->
	
	<!-- Most Populer News Start -->
	<div class="container-fluid latest-news py-5">
		<div class="container py-5">
			<div class="tab-class mb-4">
				<div class="row">
					<div class="col-12 row mb-5">
						<div class="mb-4">
							<h2 class="my-4">Popular articles</h2>
						</div>
					
						<div class="latest-news-carousel owl-carousel owl-theme">
							{
								TopPosts.map((post: any) => (
									<MostPopularPosts image={post.image} title={post.title_en} author={post.author.username} href={post.absolute_url} date={post.posted} />
								))
							}
						</div>
					</div>

					{
						PreviousMonthPosts
						&&
						<div class="col-12 row mt-5">
                        <div class="border-bottom mb-4">
                            <h2 class="my-4">Last month's articles</h2>
                        </div>

                        <div class="latest-news-carousel owl-carousel owl-theme">
							{
								PreviousMonthPosts.map((post: any) => (
									<LastMonthPosts image={post.image} title={post.title_en} author={post.author.username} href={post.absolute_url} date={post.posted} />
								))
							}
						</div>
                    </div>
					}
					
				</div>
			</div>
		</div>
	</div>
	<!-- Most Populer News End -->
</Layout>
