---
import FormattedDate from "./FormattedDate.astro";
import { getLastPost } from "../lib/api";



const post = await getLastPost();

var dateTimeString = post.posted;
var dateTime = new Date(dateTimeString);

var formattedDate = dateTime.toLocaleDateString('en-us', { day: 'numeric', month: 'short', year: 'numeric' });

---

<a href={`/blog/${post.slug}/`}>
    <img src={`https://geekzone.pythonanywhere.com/${post.image}`} alt={post.title} />
    <h4 class="title">{post.title_en}</h4>
    <p class="date">
        <time datetime={formattedDate}>
            { formattedDate }
        </time>
    </p>
</a>
<style>
    * {
        text-decoration: none;
        transition: 0.2s ease;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
        font-size: 2.369rem;

    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
        text-decoration: none !important;
    }
    img {
        width: 100%;
    }
    img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }
    a {
        display: block;
    }
    a:hover h4,
    a:hover .date {
        color: rgb(var(--accent));
    }
    a:hover img {
        box-shadow: var(--box-shadow);
    }
</style>