---
import FormattedDate from '../components/FormattedDate.astro';
import { IMAGE_URL } from '../consts';
import FormattedTime from './FormattedTime.astro';

const today = new Date().toISOString().split('T')[0];

const {image, title, href, date, author} = Astro.props;
---
<div class="latest-news-item" title={title}>
    <div class="bg-light rounded">
        <div class="rounded-top overflow-hidden">
            <img src={`${IMAGE_URL}${image}`} class="img-zoomin img-fluid rounded-top w-100" style="height: 210px !important;" alt={title}>
        </div>
        <div class="d-flex flex-column p-4">
            <a href={`blog${href}`} class="h4">{title.slice(0, 20)}...</a>
            <div class="d-flex justify-content-between">
                <a href="#" class="small text-body link-hover">by { author }</a>
                <small class="text-body d-block">
                    <i class="fas fa-calendar-alt me-1"></i> 
                    <span style="margin-left: 3px;">
                        {
                            today === date.split('T')[0] ?
                            <FormattedTime date={date} />
                            :
                            <FormattedDate date={date} />
                        }
                    </span>
                </small>
            </div>
        </div>
    </div>
</div>