---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { IMAGE_URL, SITE_URL } from '../consts';
import { getSugeredPosts, getTopCategories, getTopPosts, incrementViews } from '../lib/api';
import FormattedTime from '@components/FormattedTime.astro';

const today = new Date().toISOString().split('T')[0];

const {title, body, author, pubDate, heroImage, category, category_slug, readingTime, tags, absoluteUrl, reference} = Astro.props;

const SugeredPosts = await getSugeredPosts(reference);
const TopPosts = await getTopPosts();
const TopCatgegories = await getTopCategories();

incrementViews(reference);

---

<html lang="en">
	<head>
		<BaseHead title={title} description={body} />
		<style>
			.card__post__title{
				color: #161616;
				background-color: white !important;
				transition: background-color 1.4s ease;
			}
			.card__post:hover .card__post__title{
				color: #26820a;
			}
		</style>
	</head>

	<body>
		<Header />
		<!-- Single Product Start -->
		<div class="container-fluid py-5">
			<div class="container py-5">
				<div class="row g-4">
					<div class="col-lg-8">
						<div class="mb-4">
							<h1 class="h1 display-5">
								{title}
							</h1>
						</div>
						<div class="m-3 d-md-flex align-items-center justify-content-between">
							<div>
								<p class="text-secondart">
									By <strong>{author}</strong>
								</p>
							</div>
							<div>
								<p class="text-secondary">
									Posted : 
									{
										today === pubDate.split('T')[0] ? 
										<strong> <FormattedTime date={pubDate} /></strong>
										:
										<strong><FormattedDate date={pubDate} /></strong>
									}	
								</p>
							</div>
						</div>
						<div class="position-relative rounded overflow-hidden mb-3">
							<img src={`${IMAGE_URL}${heroImage}`} class="img-zoomin img-fluid rounded w-100 article__primary__image" alt={title}>
							<div class="position-absolute" style="top: 20px; right: 20px;">                                              
								<a class="text-white font-bold px-4 py-2 bg-primary rounded" href={`/category/${category_slug}`}>{category}</a>
							</div>
						</div>
						<div class="d-flex justify-content-between">
							<a href="#" class="text-dark link-hover me-3">
								<i class="fa fa-clock"></i> 
								{readingTime} { readingTime > 1 ? ' mins ': ' min ' } read
							</a>
						</div>
						<p class="my-4">
							<slot />
						</p>

						<div class="tab-class">
							<div class="d-flex flex-column border-bottom mb-4">
								<ul class="nav nav-pills d-inline-flex text-center">
									<li class="nav-item mb-3">
										<h5 class="mt-2 me-3 mb-0">Tags:</h5>
									</li>
									{
										tags.map((tag: any) => (
										<li class="nav-item mb-3">
											<a class="d-flex py-2 px-2 bg-light active me-2" style="cursor: pointer;">
												<span class="text-dark" style="width: max-content;">{tag.name}</span>
											</a>
										</li>
										))
									}
								</ul>
								<div class="d-block mt-3">
									<div class="d-flex align-items-center">
										<h5 class="mb-0 me-3">Share:</h5>
										<a href={`https://www.facebook.com/sharer/sharer.php?u=${SITE_URL}${absoluteUrl}`} target="_blank" 
										class="link-hover btn btn-square rounded-circle border-primary text-dark me-2 d-flex align-items-center justify-content-center"><i class="fab fa-facebook-f"></i></a>
										<a href={`https://twitter.com/intent/tweet?url=${SITE_URL}${absoluteUrl}&text=${title}`} target="_blank" 
										class="link-hover btn btn-square rounded-circle border-primary text-dark me-2 d-flex align-items-center justify-content-center"><i class="fab bi-twitter"></i></a>
										<a href={`https://api.whatsapp.com/send?text=${SITE_URL}${absoluteUrl}`} target="_blank" 
										class="link-hover btn btn-square rounded-circle border-primary text-dark me-2 d-flex align-items-center justify-content-center"><i class="fab fa-whatsapp"></i></a>
										<a href={`https://www.linkedin.com/shareArticle?url=${SITE_URL}${absoluteUrl}`} target="_blank" 
										class="link-hover btn btn-square rounded-circle border-primary text-dark d-flex align-items-center justify-content-center"><i class="fab fa-linkedin-in"></i></a>
									</div>
								</div>
							</div>
						</div>
						{
							SugeredPosts.length > 0 && (
								<div class="bg-light rounded my-4 p-4">
									<h4 class="mb-4">Related posts</h4>
									<div class="row g-4">
										{
											SugeredPosts.map((post: any) => (
												<div class="col-lg-6 card__post" title={post.title_en}>
													<a href={`/blog${post.absolute_url}`} class="post_Link">
														<div class="d-flex flex-column align-items-center p-3 bg-white rounded">
															<img src={`${IMAGE_URL}${post.image}`} class="img-fluid img-zoomin rounded" style="width: 100%; height: 150px;" alt={post.title_en}>
															<div class="ms-3">
																<div class="mt-3">
																	<h5 class="h5 mb-2 card__post__title">{post.title_en.slice(0, 40)}</h5>
																</div>
																<p class="text-dark mt-3 mb-0 me-3">
																	<i class="fa fa-clock"></i> 
																	{post.reading_time} { post.reading_time > 1 ? 'mins': 'min' } read
																</p>
															</div>
														</div>	
													</a>
												</div>
											))
										}
									</div>
								</div>
							)
						}
					</div>
					<div class="col-lg-4">
						<div class="row g-4">
							<div class="col-12">
								<div class="p-3 rounded border">
									<h4 class="mb-4">Populars Categories</h4>
									<div class="row g-2">
										{
											TopCatgegories.map((category: any) => (
												<div class="col-12">
													<a href={`/category/${category.slug}`} class="link-hover btn btn-light w-100 rounded text-uppercase text-dark py-3">
														{category.name_en}
													</a>
												</div>
											))
										}
									</div>
									<h4 class="my-4">Populars Articles</h4>
									<div class="row g-4">
										{
											TopPosts.map((post: any) => (
												<div class="col-12" title={post.title_en}>
													<div class="row g-4 align-items-center features-item">
														<div class="col-4">
															<div class="rounded-circle position-relative">
																<div class="overflow-hidden rounded-circle">
																	<img src={`${IMAGE_URL}${post.image}`} class="img-zoomin img-fluid rounded-circle" style="width: 100px; height: 100px;" alt={post.title_en}>
																</div>
															</div>
														</div>
														<div class="col-8">
															<div class="features-content d-flex flex-column">
																<p class="text-uppercase mb-2">{post.category.name_en}</p>
																<a href={`/blog${post.absolute_url}`} class="h6">
																	{post.title_en.slice(0, 50)}
																</a>
																<small class="text-body d-block">
																	<i class="fas fa-calendar-alt me-1"></i> 
																	<span style="margin-left: 3px;">
																		{
																			today === post.posted.split('T')[0] ? 
																			<strong> <FormattedTime date={post.posted} /></strong>
																			:
																			<strong><FormattedDate date={post.posted} /></strong>
																		}
																	</span>
																</small>
															</div>
														</div>
													</div>
												</div>
											))
										}
										<!--<div class="col-lg-12">
											<div class="border-bottom my-3 pb-3">
												<h4 class="mb-0">{% trans 'Tags populaires' %}</h4>
											</div>
											<ul class="nav nav-pills d-inline-flex text-center mb-4">
												{% for tag in all_tags %}
													<li class="nav-item mb-3">
														<a class="d-flex py-2 bg-light me-2" href="{% url 'posts-by-tag' tag.slug %}">
															<span class="text-dark link-hover" style="width: 90px;">{% trans tag.name %}</span>
														</a>
													</li>
												{% endfor %}
											</ul>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Single Product End -->
		<Footer />
	</body>
</html>
<script type="text/javascript" define:vars={{SITE_URL}}>
	const content = document.getElementById('article_body');
	const images = content.querySelectorAll('img');
	const pres = content.querySelectorAll('pre');
	images.forEach(function(image) {
		// Ajouter une chaîne de caractères devant l'attribut src
		var prefixe = SITE_URL;
		image.classList.add('article__image');
		image.setAttribute('src', prefixe + image.getAttribute('src'));
	});
	pres.forEach(function(pre) {
		pre.style.backgroundColor = "#444";
		pre.style.color = "#fff";
		pre.style.borderRadius = "7px";
		pre.style.padding = "8px";
		pre.style.fontFamily = "monospace";
	})
</script>